<p>
    <button id="add-entity" type="button" class="btn btn-primary">Add</button>
    <button id="fetch-collection" type="button" class="btn">Fetch</button>
    <button id="reset-collection" type="button" class="btn">Reset</button>
</p>
